@page "/planets/{id}"
@inject SwapiService Api
@using StarWarsExplorer.Models

@code {
    [Parameter] public string id { get; set; }
    Planet planet;
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        planet = await Api.GetPlanetByIdAsync(id);
        isLoading = false;
    }
}

@if (isLoading)
{
    <div class="loader">Loading planet details...</div>
}
else if (planet != null)
{
    <div class="character-detail-container">
        <div class="character-card-detail">
            <h2 class="character-name">@planet.Properties.Name</h2>
            <ul class="character-attributes">
                <li><span>Climate:</span> @planet.Properties.Climate</li>
                <li><span>Diameter:</span> @planet.Properties.Diameter</li>
                <li><span>Terrain:</span> @planet.Properties.Terrain</li>
                <li><span>Population:</span> @planet.Properties.Population</li>
            </ul>
        </div>
    </div>
}
